<!-- As a link -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">WELCOME TO TRIP NEPAL</a>
    <li class ="dropdown" > 
      <ul class ="dropdown">smile</ul>
      <ul class ="dropdown-toggle">Manage</ul>
      <li ><a href ="#">save data</a></li>
      <li><a href ="#">fetch data</a></li>
  
  </nav>
  
  <!-- As a heading -->
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">The adventure splash!</span>
    <li><a href = "#">latest trends</a></li>
    <li><a href ="#" >fill form here </a></li>
  </nav>